<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>166754553752-ump0r40c4qaji98ilabcrkokpfkcav4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166754553752-ump0r40c4qaji98ilabcrkokpfkcav4e</string>
	<key>API_KEY</key>
	<string>AIzaSyA5R_VQfkG7Z2EWpMR7IVYFxbOk9WgJkoo</string>
	<key>GCM_SENDER_ID</key>
	<string>166754553752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.technobrave.TDEMConnect</string>
	<key>PROJECT_ID</key>
	<string>tdem-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>tdem-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166754553752:ios:7c0b6be574bb6a2f</string>
	<key>DATABASE_URL</key>
	<string>https://tdem-connect.firebaseio.com</string>
</dict>
</plist>